@font-face{
	font-family 'Roboto';
	src  url('../fonts/Roboto-Thin-webfont.eot') 
	src  url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
		 url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'),
		 url('../fonts/Roboto-Thin-webfont.svg#RobotoThin') format('svg') 
	font-weight normal 
	font-style normal 
}

@font-face 
	font-family 'icomoon'
	src url('../fonts/icomoon.eot?o545zw')
	src url('../fonts/icomoon.eot?#iefixo545zw') format('embedded-opentype'),
		 url('../fonts/icomoon.woff?o545zw') format('woff'),
		 url('../fonts/icomoon.ttf?o545zw') format('truetype'),
		 url('../fonts/icomoon.svg?o545zw#icomoon') format('svg')
	font-weight normal
	font-style normal


[class^="icon-"], 
[class*=" icon-"] 
	font-family 'icomoon'
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	/* Better Font Rendering =========== */
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale


.icon-menu:before 
	content "\e602"

.icon-feather:before 
	content "\e605"

.icon-user2:before 
	content "\e606"

.icon-search:before 
	content "\e607"

.icon-camera:before 
	content "\e608"

.icon-checkmark:before 
	content "\e609"

.icon-list:before 
	content "\e60a"

.icon-arrow-left:before 
	content "\e60b"

