/* 
    Created on  14/10/2014, 23:11 PM
    Author      Ricardo Alcantara <richpolis@gmail.com>
*/

@import 'nib'
@import 'normalize'
@import 'iconfonts'
@import 'menu'

box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	box-sizing arguments
	
opacity(n)
	opacity n
	if support-for-ie
		filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

a
	color #0b96db
	text-decoration none
	&:hover
		text-decoration underline

body
	background url('../images/nubes.jpg')
	background-repeat no-repeat
	background-size cover
	background-attachment fixed
	color white
	font-family 'Roboto',Helvetica
	font-size 16px
	font-weight bold


h1
	font-weight normal

h2
	font-weight normal
	font-family 'Helvetica'
	font-size 29px


input[type="email"],
input[type="password"], 
input[type="text"],
input[type="file"],
textarea
	margin-bottom .4em
	width 100%
	color rgba(0,0,0,0.8)
	border-top none
	border-left none
	border-right none
	border-bottom 1px solid rgba(0,0,0,0.8)
	background none
	border-radius 3px
	font-family 'Roboto'
	&:focus 
		outline 0px

p
	font-family 'Helvetica'

.btn
	background  #0b96db
	background-image  linear-gradient(to bottom, #0b96db, #005886)
	border-radius  0px
	font-family  Arial
	column-rule  #ffffff
	font-size  16px
	font-weight normal
	padding  10px 20px 10px 20px
	text-decoration  none
	border none
	&:hover
		background  #1d95e0
		background-image  linear-gradient(to bottom, #1d95e0, #246c9c)
		text-decoration  none
		color white

.btn-lg
	width 200px

.btn-center
	display block
	margin 0 auto

.container
	margin 0 auto
	color white
	max-width 1024px
	text-shadow 1px 0px 5px rgba(0, 0, 0, 0.70)

.contenedor-dreams
	height 400px
	width 100% 
	overflow auto

.encabezado
	background rgba(#313131, 0.4)
	position relative
	& > h1
		font-weight normal
		margin-top 0px
		margin-bottom 0px
		text-align center
		height 50px
		line-height 50px
		font-size 31px
		font-family 'Helvetica'

.form-group
	background rgba(255,255,255,0.6)
	padding 10px 10px 5px
	box-sizing border-box
	margin-bottom 10px
	&.form-group-checkbox
		background transparent
		font-size 20px
		color black
		text-align center
		text-shadow none
		font-weight bold
		

.form-control 
	height auto
	box-sizing border-box
	padding .6em
	font-size 1em

.flechita span.icon-arrow-left
	position absolute
	color white
	font-size 32px
	top 8px
	left 10px

.icon-checkmark
	color #00c08b
	text-shadow none
	font-size 25px

.dream-archivos
	margin 0px
	padding 0px
	text-align center
	& .dream-archivo
		display inline-block
		vertical-align top 
		list-style none

			
.lista-dreams
	list-style none
	padding-left 0px
	& .item-dream
		background rgba(#313131,0.4)
		min-height 87px
		margin 5px
		text-shadow none
		padding 10px
		box-sizing border-box
		& a
			color white
			text-decoration none
			&:hover 
				color white
				text-decoration none
		& .titulo-dream
			font-size 22px
			font-weight bold
			margin 0px 0px 5px 
			line-height 25px
			font-family 'Roboto'
		& .fecha-dream
			font-size 18px
			color rgb(31, 17, 17)
			font-style italic
			font-family 'Roboto'
			line-height 21px


.login-center
	max-width 390px
	margin 0 auto
	padding 0px 5px

.wrap
	min-width 390px
	margin 0 auto
	padding 0px 5px

.text-center
	text-align center

.red-social
	background url('../images/redes-sociales-mini.png')
	display inline-block
	vertical-align top
	width 54px 
	height 55px
	&.facebook
		background-position -0px -0px 
	&.googleplus
		background-position -165px -0px 
	&.twitter
		background-position -55px -0px 
		
.show-dream
	background rgba(#313131, 0.4)
	text-align center
	font-weight normal
	& p
	&.share-dream
		margin 0px
		padding 10px 0px
		font-size 20px
	&.header-dream
		background none !important
	& .titulo-dream
		margin-bottom 5px
		background transparent
		text-align left
	& .fecha-dream
		margin-top 0px
		background transparent
		text-align left
		font-style italic

#menu-principal
	& a.icon-menu
		color white
	& > ul > li
		list-style none
		box-shadow 0 0 10px rgba(100, 100, 100, 0.2) inset, 1px 1px 1px #CCC
		display block
		line-height 1
		margin 1px
		border-radius 3px
		position relative
	& > ul > li > a
		text-decoration none !important
		font-size 24px
		padding 25px
	& li ul
		position absolute
		list-style none
		text-align center
		width 180px
		right 10px
		top 70px
		font bold 12px 'Open Sans Condensed', sans-serif;
		max-height 0px 
		overflow hidden 
		transition max-height 0.4s linear
	& li:hover ul
		max-height 200px


.formulario
	position relative
	& .flecha-submit
		position absolute
		top 5px
		right 10px
		z-index 1000
		cursor pointer



/*
    Login
*/

.form-signin 
	max-width 400px
	padding 3em 1em 1em
	margin 0 auto

.form-signin .checkbox 
	margin-bottom .9em
	font-weight normal

.form-signin-heading 
	text-align center
	font-size 1.5em
	font-family 'Helvetica'
	& span
		font-size .7em

.form-signin .form-controlfocus 
	z-index 2

::-webkit-input-placeholder
	color rgba(0,0,0,0.6)

:-moz-placeholder 
	color rgba(0,0,0,0.6)

::-moz-placeholder 
	color rgba(0,0,0,0.6)

:-ms-input-placeholder 
	color rgba(0,0,0,0.6)

@media screen and (min-width: 768px)
	.wrap
		.form-signin-heading 
			text-align left
		.btn-center
			margin 0px
			float right

