/* 
    Created on  14/10/2014, 23:11 PM
    Author      Ricardo Alcantara <richpolis@gmail.com>
*/

@import 'nib'
@import 'normalize' 

box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	box-sizing arguments
	
opacity(n)
	opacity n
	if support-for-ie
		filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

a
	color #0b96db
	text-decoration none
	&:hover
		text-decoration underline

body
	font-size 16px
	background url('../images/nubes.jpg')
	background-repeat no-repeat
	background-size cover
	color white

h1
	font-weight normal

input[type="email"],
input[type="password"], 
input[type="text"]
	margin-bottom .4em
	width 100%
	color rgba(0,0,0,0.8)
	border-top none
	border-left none
	border-right none
	border-bottom 1px solid rgba(0,0,0,0.8)
	background none
	border-radius 3px
	&:focus 
		outline 0px

.btn
	background  #0b96db
	background-image  linear-gradient(to bottom, #0b96db, #005886)
	border-radius  0px
	font-family  Arial
	column-rule  #ffffff
	font-size  16px
	font-weight normal
	padding  10px 20px 10px 20px
	text-decoration  none
	border none
	&:hover
		background  #1d95e0
		background-image  linear-gradient(to bottom, #1d95e0, #246c9c)
		text-decoration  none

.btn-lg
	width 200px

.btn-center
	display block
	margin 0 auto

.container
	margin 0 auto
	color white
	text-shadow 1px 0px 5px rgba(0, 0, 0, 0.70)

.encabezado
	background rgba(117, 130, 152,0.8)
	position relative
	& > h1
		font-weight normal
		margin-top 0px
		margin-bottom 0px
		text-align center
		height 50px
		line-height 50px
		font-size 30px


.login-center
	max-width 400px
	margin 0 auto

.form-group
	background rgba(255,255,255,0.2)
	padding 10px 10px 5px
	box-sizing border-box
	margin-bottom 10px

.form-control 
	height auto
	box-sizing border-box
	padding .6em
	font-size 1em

.text-center
	text-align center

.red-social
	background url('../images/redes-sociales-mini.png')
	display inline-block
	vertical-align top
	width 54px 
	height 55px
	&.facebook
		background-position -0px -0px 
	&.googleplus
		background-position -165px -0px 
	&.twitter
		background-position -55px -0px 
		

/*
    Login
*/

.form-signin 
	max-width 400px
	padding 3em 1em 1em
	margin 0 auto

.form-signin .checkbox 
	margin-bottom .9em
	font-weight normal

.form-signin-heading 
	text-align center
	font-size 1.5em
	& span
		font-size .7em

.form-signin .form-controlfocus 
	z-index 2

::-webkit-input-placeholder
	color rgba(0,0,0,0.4)


:-moz-placeholder 
	color rgba(0,0,0,0.4)

::-moz-placeholder 
	color rgba(0,0,0,0.4)

:-ms-input-placeholder 
	color rgba(0,0,0,0.4)
