
/* 
    Created on  14/10/2014, 23:11 PM
    Author      Ricardo Alcantara <richpolis@gmail.com>
*/

@import 'nib'
@import 'normalize' 

box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	box-sizing arguments
	
opacity(n)
	opacity n
	if support-for-ie
		filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

body
	font-size 16px
	background url('../images/nubes.jpg')
	background-repeat no-repeat
    background-size cover 
    color white

.container
	margin 0 auto
	max-width 1000px
	color white
	text-shadow 1px 3px 6px rgba(150, 150, 150, 0.62)

/*
    Login
*/

.form-signin 
	max-width 400px
	padding 3em 1em 1em
	margin 0 auto

.form-signin .checkbox 
	margin-bottom .9em
	font-weight normal
	


.form-signin-heading 
	text-align center
	font-size 1.5em
	& span
		font-size .7em


.form-signin .form-control 
	position relative
	height auto
	box-sizing border-box
	padding .6em
	font-size 1em

.form-signin .form-controlfocus 
	z-index 2

.form-signin input[type="email"]
.form-signin input[type="password"] 
	margin-bottom .4em
	opacity 0.8
	width 100%
	color black
