{% extends 'FrontendBundle::layout.html.twig' %}

{% block content %}
    <section class="container">
        <article class="wrap">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="flash-notice alert alert-danger">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <div class="formulario"> 
                <form class="form-crear" role="form" action="{{ path('create_dream') }}" method="post">
                    <h1 class="form-signin-heading">Nuevo sueño</h1>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nombre de tu sueño" name="titulo" value="" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Lugar del sueño" name="lugar" required>
                    </div>
					<div class="form-group">
                        <input type="text" class="form-control" placeholder="Describe tu sueño" name="dream" required>
                    </div>
					<div class="form-group">
                        <input type="file" class="form-control" placeholder="Ingresa imagen o archivo" name="file" required>
                    </div>
					<div class="form-group form-group-checkbox">
                        <label class="checkbox-inline">
                        <input type="checkbox" class="form-control"> Compartir tu sueño
                        </label>
                    </div>
                    <button class="btn btn-lg btn-center" type="submit">Guardar</button>
                </form>
            </div>       
        </article>        
    </section> <!-- /container -->

{% endblock %}