{% extends 'FrontendBundle::layout.html.twig' %}

{% block content %}
    <section class="container row">
        <article class="wrap">
			<h2>Mis sueños</h2>
            <div class="contenedor-dreams"> 
                <ul class="lista-dreams">
					{% for dream in dreams %}
					<li class="item-dream">
						<a href="{{path('show_dream',{'id': dream.id })}}">
							<div class="dream">
								<h3 class="titulo-dream">{{dream.titulo}}</h3>
								<span class="fecha-dream">{{ dream.createdAt|date('d M Y') }}</span>
							</div>
						</a>
					</li>
					{% endfor %}
				</ul>
            </div>
        </article>        
    </section> <!-- /container -->

{% endblock %}