{% extends 'FrontendBundle::layout.html.twig' %}

{% block content %}
    <section class="container row">
        <article class="login-center">
			<header>
				<hgroup>
					<h2>Sueño numero {{entity}}</h2>
					<h4>Creado el: {{'now' | date('d/m/Y')}} a las {{'now' | date('h')}}</h4>
				</hgroup>
			</header>
			<div class="show-dream description-dream">
				<p>Descripcion del sueño numero {{entity}}</p>
			</div>
			<div class="show-dream file-dream">
				<img src="https://s3.amazonaws.com/media.jetstrap.com/fHMBWChrSHOKaZ4C9Jdm_icon.png">
			</div>
			<div class="show-dream share-dream">
				<span class="icon-checkmark"></span> Compartir mi sueño
			</div>
        </article>        
    </section> <!-- /container -->

{% endblock %}