<div class="container">
    <ul class="nav nav-pills">
        <li {%if tabActive == "users" %} class="active" {% endif %}>
            <a href="#"> Usuarios</a>
        </li>
        <li {%if tabActive == "dreams" %} class="active" {% endif %}>
            <a href="#"> Sueños</a>
        </li>
        <li {%if tabActive == "reports" %} class="active" {% endif %}>
            <a href="#">Reportes</a>
        </li>
    </ul>
</div>
<div class="container">
</div>
